<form action="/peliculas/buscar" method="GET">
    <div class="mb-3">
        <label for="title" class="form-label">Título</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>
    <button type="submit">Buscar Película</button>
</form>