#myMap {
  height: 100vh;

}

img {
  max-width: 100px;

}



#intro {
  background-image: url("/images/Geofilm_background.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.btn-danger {
  --bs-btn-bg: rgb(171, 14, 14);


}

.btn-warning {
  --bs-btn-bg: rgb(59, 166, 98);
}

.col-md-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  justify-content: space-between;
  padding-inline: 20px;
  margin-top: 20px;

}

.mapImage {
  border-radius: 5px;
}

.mapBorder {
  border-radius: 15px;
}

/* .detailsCard {
  height: 700px;
} */

.btn-dark {
  --bs-btn-bg: #1d201f;


}