#myMap {
  height: 100vh;
  background-color: red;
}

img {
  max-width: 100px;
}

#intro {
  background-image: url("/images/Geofilm_background.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.btn-danger {
  --bs-btn-bg: rgb(171, 14, 14);

}

.btn-warning {
  --bs-btn-bg: rgb(59, 166, 98);
}