<div class="container">
    <h4>Localizaciones </h4>
    <div class="container text-center">
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 ">


            <figure id="myMap"></figure>

        </div>

        <div class="col-md-6">
            <div class="row ">
                {{#each movie}}

                <div class="col-md-3 text-center ">
                    <img src="{{image}}" alt="{{title}}">
                    <p>{{title}}</p>
                    <a href="/peliculas/detalles/{{_id}}" class="btn btn-dark bt-sm">Detalles</a>
                </div>

                {{/each}}
            </div>
        </div>
    </div>
</div>
</div>




<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/place-movies.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUeQXCyJDlhOtCB8JwWAk8zCxpjk6k-jo&callback=init"></script>